/* Main Page */

h1 {
  font-family: Arial;
  font-size: 75px;
  letter-spacing: -3px;
}

h2 {
  font-family: Arial;
}

nav,
body {
  font-family: Arial;
}

h3 {
  font-family: Arial;
}

/* My Business */